@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body { background-color: #4B4B50; }

textarea {
  width: 40vw;
  height: 25vh;
  margin: 64px 3vw;
  padding: 32px;
  font-size: 24px;
  font-family: 'Cabin', sans-serif;
  line-height: 1.4;
  border: none;
  border-radius: 16px;
  color: #fff;
  background-color: #323237;
  overflow: auto;
  outline: none;
  resize: none;
  box-shadow: 0 0 10px #FA1919;
}

::placeholder { color: #ddd; }

#time { float: left; }

#output {
  float: right;
  cursor: pointer;
}

#output:active {
  transform: translate(2px, 2px)
}