@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
html {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #F9FAFC;
}

hr {
  border-top: 2px dashed #aaa;
  margin-bottom: 16px;
}

.page-header {
  width: 100%;
  height: 35vh;
  min-height: 200px;
  color: #fff;
  background-image: linear-gradient(to left bottom, #bb6bd1, #7793fa, #00b1ff, #00c8f5, #00d9d7, #4dd9b3, #7fd68d, #accf6d, #c7b94c, #e09e3e, #f28046, #fb5f5f);
}

.title {
  margin-top: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 64em) {
  .title {
    font-size: 5.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .title {
    font-size: 4.25rem;
  }
}

@media screen and (max-width: 42em) {
  .title {
    font-size: 3.75rem;
  }
}

.content {
  width: 40%;
  padding-left: 32px;
  padding-right: 32px;
  margin: auto;
  margin-bottom: 32px;
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: #fff;
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
  color: #7fd68d;
}

.subheading {
  color: #00c8f5;
}

.paragraph {
  color: #646478;
  margin-bottom: 16px;
}

.important {
  font-weight: 700;
}

.important-sentence {
  font-weight: 600;
}

.rainbow {
  background: -webkit-linear-gradient(135deg, #bb6bd1, #7793fa, #00b1ff, #00c8f5, #00d9d7, #4dd9b3, #7fd68d, #accf6d, #c7b94c, #e09e3e, #f28046, #fb5f5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tip {
  color: #646478;
  border-left: 6px solid #7fd68d;
  border-radius: 6px;
  margin-bottom: 16px;
  background-color: #f2f2fa;
  font-style: italic;
  font-size: 24px;
  padding: 4px;
  padding-left: 16px;
}

@media screen and (min-width: 78em) {
  .heading {
    font-size: 3rem;
  }
  .subheading {
    font-size: 2.25rem;
  }
  .paragraph {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 78em) {
  .content {
    width: 60%;
  }
  .heading {
    font-size: 2.75rem;
  }
  .subheading {
    font-size: 2rem;
  }
  .paragraph {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    height: 20vh;
  }
  .content {
    width: 80%;
  }
  .heading {
    font-size: 2.5rem;
  }
  .subheading {
    font-size: 1.75rem;
  }
  .paragraph {
    font-size: 1.25rem;
  }
}

.bottom-fade {
  width: 100%;
  position: fixed;
  height: 10vh;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}