* {
  margin: 0;
  padding: 0;
}

@keyframes loading {
  0% {transform: rotate(0deg);}
  78% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

#loader-wrapper {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: relative;
  opacity: 1;
  transition: 0.5s;
}

#loader {
  z-index: 1001;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loader-img {
  z-index: 1002;
  width: 64px;
  height: auto;
  user-select: none;
  animation-name: loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.8, 0, 0.4, 1); 
}
