#content {
  width: 100vw;
  height: 100vh;
  transition: 2s;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to left top, #d75a88, #ff7e71, #ffb25f, #ffeb68);
}

.title {
  text-align: center;
  font-size: 6em;
  color: #fff;
  text-shadow: 4px 4px 0 #999;
  margin-top: -250px;
  transition: 1.5s ease-in-out;
}

.text {
  text-align: center;
  font-size: 4em;
  color: #fff;
  text-shadow: 4px 4px 0 #999;
}

#logo {
  position: relative;
  top: 25px;
  height: 50px;
  margin-left: 20px;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 5em;
    margin-top: -200px;
  }
  .text {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 4em;
  }
  .text {
    font-size: 3em;
  }
}