.vz-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to left, #6b10c7, #ed0cf5);
  cursor: pointer;
}

.vz-wrapper.-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: initial;
  width: initial;
  background: transparent;
  box-shadow: none;
}
