@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

#fadeintext {
  font-family: 'Oswald', sans-serif;
  font-size: 0px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 100vh;
  user-select: none;
  text-shadow: 8px 8px 8px #000;
  opacity: 0;
  transition: 1s;
  display: none;
}

#background {
  display: none;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #bb6bd1, #7793fa, #00b1ff, #00c8f5, #00d9d7, #4dd9b3, #7fd68d, #accf6d, #c7b94c, #e09e3e, #f28046, #fb5f5f);
}

#textinput {
  box-sizing: border-box;
  width: 80%;
  height: 10vh;
  padding: 48px 20px;
  margin: 0 10%;
  margin-top: 45vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  background-color: #00c8f5;
  color: #fff;
  border: none;
  border-radius: 16px;
  outline: none;
  background-image: linear-gradient(to right, #bb6bd1, #7793fa, #00b1ff, #00c8f5, #00d9d7, #4dd9b3, #7fd68d, #accf6d, #c7b94c, #e09e3e, #f28046, #fb5f5f);
}

#fadeintext:hover {
  cursor: pointer;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}